* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
#wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#wrapper .aside__nav {
    width: 241px;
    height: 100vh;
    background-color: #000000;
    padding: 20px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Brand */
.aside__nav .brand {
    width: 100%;
    height: 47px;
    padding: 0 24px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}
.brand .brand__icon i {
    font-size: 2.5rem;
}
.brand .brand__name p {
    font-size: 1.6rem;
    margin-left: 5px;
}


/* Controls */
.controls {
    padding: 0 24px;
    font-size: 0.9rem;
}

/* Default */
.control__default {
    margin-bottom: 32px;
}
.controls .control__default > a {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    text-decoration: none;
    color: #a7a7a7;
    transition: all 0.5s;
}
.controls .control__default > a:hover {
    color: #fff;
    transition: all 0.5s;
}
.controls .control__default  i {
    font-size: 1.4rem;
    margin-right: 15px;
}
.search .search__icon i {
    margin-right: 16px;
}
.library .library__icon {
    fill: currentcolor;
}
.library .library__icon svg {
    margin-right: 14px;
}

/* List */
.controls .control__list > a {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    text-decoration: none;
    color: #a7a7a7;
    transition: all 0.5s;
}
.controls .control__list > a:hover {
    color: #fff;
    transition: all 0.5s;
}
.control__list .create__list  i {
    font-size: 1.8rem;
    margin-right: 15px;
}
.control__list .liked__songs .box__heart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-right: 15px;
}


/* Header */
content {
    width: calc(100% - 241px);
    height: auto;
    background: #151515;
    color: #a7a7a7;;
}
header {
    width: calc(100% - 241px);
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}
content header .header__nav {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    padding-left: 18px;
}
content header .header__nav a {
    text-decoration: none;
    color: #fff;
}
.header__nav .nav__arrow {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.arrow--left, .arrow--right {
    width: 32px;
    height: 32px;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-left: 12px;
    font-size: 1.1rem;
    margin-right: 5px;
}

.header__nav .nav__tools {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 55px;
    font-weight: bold;
}
.nav__tools .controls ul {
    display: flex;
    list-style: none;
}
.nav__tools .controls ul li {
    margin-right: 42px;
}
.nav__tools .controls ul li:last-child {
    margin-right: 0;
}
.nav__tools a {
    text-decoration: none;
    display: inline-block;
    color: #a7a7a7;
}
.nav__tools a.link:hover {
    color: #fff;
    transform: scale(1.05);
}
.nav__tools a.link:active {
    opacity: 0.7;
}
.ruler {
    background: #fff;
    height: 25px;
    margin-right: 21px;
    margin-left: 5px;
    width: 1px;
}
.nav__tools .signIn-btn input {
    background-color: #fff;
    font-size: 1.1rem;
    color: #000;
    width: 112px;
    height: 53px;
    border-radius: 50px;
    margin-left: 30px;
}
.nav__tools .signIn-btn input:hover {
    transform: scale(1.05);
    font-weight: bold;
}
.nav__tools .signIn-btn input:active {
    opacity: 0.7;
}
/* Main */
main {
    padding: 26px 32px 0;
    width: 100%;
    height: auto;
    margin-top: 64px;
}
main .name p {
    font-size: 0.9rem;
    margin-top: 7px;
}
main .more span a {
    font-size: 0.75rem;
    color: #b3b3b3;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
main .more span a:hover {
    text-decoration: underline;
}
main .title .name a  {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
main .title .name a:hover {
    text-decoration: underline;
}
main > section {
    margin-bottom: 40px;
}
main > section > div.title {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > section > div.list {
    display: flex;
    align-items: center;
    gap: 21px;
}
main > section > div.list > div {
    width: 185px;
    height: 263px;
    background: #1a1919;
    padding: 16px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}
main > section > div.list > div img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
main > section > div.list > div div.title {
    margin: 18px 0 6px;
    font-weight: 550;
    color: #fff;
}
main > section > div.list > div > div > div.content p {
    font-size: 0.89rem;
    width: 100%;
    height: 50px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}
main > section > div.list > div > div button.btn-play {
    width: 50px;
    height: 50px;
    background: #1ed760;
    border-radius: 50%;
    position: absolute;
    left: 110px;
    top: 120px;
    border: none;
    outline: none;
    opacity: 0;
    transition: all 0.5s ;
}
main > section > div.list > div > div button.btn-play > div.btn {
    width: 0;
    height: 0;
    border-top: 15px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(267deg);
    position: absolute;
    left: 17px;
    top: 18px;
}
main > section > div.list > div:hover {
    background: #282828;
    transition: all .5s;
}
main > section > div.list > div:hover div button.btn-play {
    transform: translateY(-10px);
    opacity: 1.0;
    transition: all .5s;
}

/* Music */

.music.music__2 .title, .music.music__5 .title {
    margin: 18px 0 6px;
    font-weight: 550;
    color: #fff;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Charts */

main .main__charts .main__charts.title {
    margin-bottom: 22px;
}
main .main__charts .main__charts.title .name h2 {
    font-size: 1.35rem;
    color: #fff;
    font-weight: bold;
}

/* Focus */

.focus.focus__2 .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Mood */

.mood.mood__2 .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Popular new releases */

.pop.pop__1 .title, .pop.pop__3 .title, .pop.pop__5 .title, .pop.pop__6 .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Thời gian cho gia đình và bản thân */

.forYou.music__5 .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Soundtrack your home */

.soundtrack.track__1 .title, .soundtrack.track__4 .title, .soundtrack.track__6 .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* footer */

footer {
    width: 100%;
    height: 68px;
}
hr {
    height: 1px;
    margin-bottom: 145px;
    border: none;
    background-color: #423e3e;
}
.footer__signUp {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg,#af2896,#509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px 7px 15px;
    color: #fff;
    position: fixed;
    bottom: 0px;
    text-decoration: none;
}
.preview {
    margin-left: 22px;
}
.preview p:nth-child(1) {
    margin-bottom: 5px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
button.btn {
    position: relative;
    background-color: #fff;
    font-size: 1.1rem;
    color: #000;
    border-radius: 500px;
    border: none;
    width: 150px;
    height: 50px;
    font-weight: 550;
}
button.btn:hover {
    transform: scale(1.05);
    font-weight: 700;
}
button.btn:active {
    opacity: 0.7;
}